body{
    background-color: #16243C ;
    color: azure;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      h1 {
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
      }

      h2{
        font-size: 16px;
        font-weight: 50;
        text-transform: uppercase;
        text-align: center;
        padding: 30PX;
      }
      
      p{
        text-align: left;
      }

      .exhib-container {
        max-width: 1170px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        padding-bottom: 30px;
      }
      
      .exhib-container-inner {
        max-width: 503px;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 20px;
        
        
      }
      
      .exhib-img {
        
        width: 503px;
        height: 377px;
        object-fit: cover;
      }

      .visitus {
        color: azure;
        text-decoration: none;
        text-transform: uppercase;
        padding: 190px;
        
      }
      
      @media (max-width: 767px) {
     
      
        .exhib-container-inner{
          flex-basis: 100%;
          max-width: 450px;
          
        }

        .exhib-img{
            max-width: 450px;
        }
      }
      
      @media (max-width: 530px){

       
        .exhib-container-inner{
          flex-basis: 100%;
          max-width: 300px;
          padding: 0px;
          
        }

        .exhib-img{
            max-width: 300px;
        }
      }
      @media (max-width: 300px){
       
         .exhib-container-inner{
           flex-basis: 100%;
           max-width: 270px;
           padding: 0px;
           
         }
 
         .exhib-img{
             max-width: 270px;
         }
       }
      