@font-face{
    font-family: "inter";
    src: url(../Fonts/Inter/static/Inter-Regular.ttf)
}



header {
background-color: #D9D9D9;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap; 
 
}

.img_logo {
    float: left;
    padding: 20px;
    padding-left: 30px;
    max-width: 500px;
}

body {  
    font-family: "inter";   
}

nav {
display: flex;
flex-grow: 1;
flex-wrap: wrap; 
margin: 0;
padding-left: 50px;
}

nav a { 
    padding: 20px;
    justify-content: center;
    text-transform: uppercase;   
    font-weight: 500;
    text-decoration: none;
}

.active {
color: #F00F1d;
}

.unactive {

}

h1 {
    
    justify-content: center;
}

footer {
    height: 50px;
    background-color: lightgrey;
}

@media only screen and (max-width: 500px) {}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 1155px) {}